
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}




/* -----------Navbar------------ */



.myCollapse{
    height: 25rem!important;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav .nav-menu{
    justify-content: space-evenly;
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}



.nav .nav-items .nav-link{
    padding: 1rem 1rem;
    font-size: 1.5rem;
    position: relative;
}

.nav{
    background: rgba(255, 255, 255, 0.747);
    /* padding: 0 2rem; */
    height: auto;
    min-height: 9vh;
    overflow: hidden;
    transition:height 1s ease-in-out
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    
}

.nav .nav-brand{
    width: 50px;
    height: 50px;
background-image: url('../assets/Logo-znak-only.png');
background-position: center;
background-size: cover;
}



.nav .nav-items .nav-link a{
    transition-duration: 0.2s ;
    color: #004467;
    font-size: 17px;
}


.nav .toggle-collapse{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%; 
  }

.nav .myItem{
    margin-top: auto;
    margin-bottom: auto;
}

  

/* ------x-----Navbar--------x---- */

/* -----------Top Page---------- */

.top-page{
 /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-image: url('../assets/Homepage-naslovna3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 height: 700px;
}

.title{
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
    color: white;
}

.title h1{
    /* font-family: initial; */
    font-family: "Open Sans"!important;
    font-size: 60px!important;
}

.title p{
    font-size: 20px;
}

/* ------x-----Top Page-----x----- */

/* -------------Biography---------- */

.bio-title{
    text-align: center;
    color: #006084;
    
}

.bio-title h1{
    font: Bold 60px Open Sans;
    padding-left: 30px;
}

.biography hr{
    margin: 16px 0 16px;
    border: 2px solid #1fc4c4;
}

.bio-flex{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 40px;
}

.bio-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bio-image{
    /* width: 2rem; */
    text-align: center;
    background: center;
    background-position: cover;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.bio-image #img{
    background:center;
    border-radius: 125px;
    height: 250px;
    width: 250px;
    border: 2px solid #1fc4c4;
    background-image: url('../assets/IMG_0716.jpg');
    background-position: 44% 22%;
    background-size: cover;
}

.bio-image p{
    font-size: 17px;
    color: #004467;
}

.more{
    display: flex;
    flex-direction: row;
    
}

.bio-content #moreIcon{
    background-image: url('../assets/procitaj.svg');
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
}

.bio-content #moreText{
    margin-top: 27px;
    padding-left: 20px;
    font: bold 26px 'Open Sans';
    color: #004467;
    
}

.bio-content #moreText:hover{
    cursor: pointer;
   
}

#bio-modal p{
    margin: 30px 20px;
}
.bio-image #spec{
    font-size: 14px;
    margin: 0 0 5px;
}

.bio-image #name{
    font-size: 20px;
}


/* -------x------Biography-----x----- */

/* ------------Pollex Therapy------------ */

.pollex-therapy{
    background-color: #004467;
}

.button {
    background: transparent linear-gradient(180deg, #1FC4C4 0%, #006084 100%) 0% 0% no-repeat padding-box;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 180px;
}

#btn5{
    background: transparent linear-gradient(180deg, #1FC4C4 0%, #006084 100%) 0% 0% no-repeat padding-box;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 180px;
}

.button:hover{
   cursor: pointer; 
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.10em);
}

.card-wraper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.myCard{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 2.4rem;
    color: white;
    text-align: center;
}

.myCard h2{
    white-space: nowrap;
}


/* ------x------Pollex Therapy------x------ */


 /* Pollex Paketi */


 #check{
  background-image: url('../assets/check_.svg');
  height: 10px;
  width: 10px;
  background-position: center;
  background-size: cover;
 }


 .pollex-packets{
    background-color: #004467;
  }

  .img-packet{
      background-image: url('../assets/IMG_4115.jpg');
      background-position: center;
      background-size: cover;
      width:  300px;
      height: 250px;
      border: 1.5px solid #1fc4c4;
      border-radius: 3px;
  }

  .img-packet1{
    background-image: url('../assets/SPORT.png');
    background-position: center;
    background-size: cover;
    width:  300px;
    height: 250px;
    border: 1.5px solid #1fc4c4;
    border-radius: 3px;
  }

  .img-packet2{
    background-image: url('../assets/biznis.png');
    background-position: center;
    background-size: cover;
    width:  300px;
    height: 250px;
    border: 1.5px solid #1fc4c4;
    border-radius: 3px;
  }

  .title-packets{
      color: white;
      align-content: center;
  }

  .title-packets h1{
    text-align: center;
    padding-top: 50px;
    font: Bold 42px Open Sans;
  }

  .myPacket p{
      margin: 0;
      white-space: nowrap;
      font: Italic 14px/20px Open Sans;
      letter-spacing: 0;
      color: #9ACBE1;
  }

  .packets-list1 div,
  .packets-list div {
      display: flex;
      justify-content: center;
  }

  .packets-list p , .packets-list1 p{
    font: Regular 14px/20px Open Sans;
    letter-spacing: 0;
    color: #9ACBE1;
    opacity: 1;
    padding-left: 5px;
  }


  .packet-wraper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.myPacket{
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 2.4rem;
    color: white;
    text-align: center;
}


.myPacket h2{
    margin: 30px 0px;
}

.packets-list{
    padding: 40px 0px;
}

.packets-list1{
    padding-top: 20px;
    padding-bottom: 40px;
}

#phone{
    display: none;
    color: white;
    
}

#phone-div{
    text-align: center;
    padding: 10px;
    height: 150px;
}
  

  /* X  Pollex Paketi  X */


/* -----------Modal------------ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll!important; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    align-self: center;
    animation-name: animatetop;
    animation-duration: 0.6s
  }

  .modal-content h1{
      text-align: center;
      font-size: 25px;
      margin-bottom: 50px;
  }

  .modal-content .card{
      margin-bottom: 20px;
  }
  

  /* Add Animation */

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
 
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Swiper */
  .certificate{
      height: auto;
      margin-top: 50px;
      margin-bottom: 50px;
  }


  .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 70px!;
  }

  
  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: inline-block;
    height: 100%;
  }

  .swiper-slide img{
      width: 80%;
  }

  .swiper-slide #img-last{
   margin: auto;
   vertical-align: middle;
   padding-top: 100px;
  }
  
 
  /* X Swiper X */


  /* Footer */

  .bottom-footer{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 50px;
    border-bottom: 2px solid #1fc4c4!important;
}

.row{
    padding-top: 20px;
}

.company-footer{
    display: flex;
     flex-direction: column; 
    width: 25rem;
}
.links-footer{
    display: flex;
     flex-direction: column; 
    width: 25rem;
}
.contact-footer{
    display: flex;
     flex-direction: column;
    width: 25rem;
}

.contact h2 {
    color: #006084;
}


.copy-right{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 25px 30px;

}

.copy-right p {
    padding: 5px;
}

.copy-right i {
    color: #006084;
}

#network{
    text-align: center;
}


 

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myForm h2 {
    text-align: center;
    color: #006084;
}

form input{
    margin: 10px;
    padding: 10px;
    border: 1px solid #006084;
    border-radius: 5px;
}


form input:focus::-webkit-input-placeholder {
    color: transparent;
}
form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}


form textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #006084;
    border-radius: 5px;
}

form button {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #006084;
    border-radius: 5px;
    width: 197px ;
    height: 52px;
    background: transparent linear-gradient(180deg, #1FC4C4 0%, #006084 100%) 0% 0% no-repeat padding-box;
}

.error {
    color:red;
}

  /* X Footer X */
 

/* Viewport mobile */

@media(min-width:2301px){
    #sw div{
        width: 560px !important;
    }
}

@media (min-width:2071px) and (max-width:2300px){
    #sw div{
        width: 540px !important;
    }
}

@media (min-width:1901px) and (max-width:2070px){
    #sw div{
        width: 520px !important;
    }
}

@media (min-width:1751px) and (max-width:1900px){
    #sw div{
        width: 500px !important;
    }
}

@media (min-width:1601px) and (max-width:1750px){
    #sw div{
        width: 480px !important;
    }
}

@media (min-width:1451px) and (max-width:1600px){
    #sw div{
        width: 470px !important;
    }
}

@media (min-width:1301px) and (max-width:1450px){
    #sw div{
        width: 450px !important;
    }
}

@media (min-width:1151px) and (max-width:1300px){
    #sw div{
        width: 430px !important;
    }
}

@media (min-width:975px) and (max-width:1150px){
    #sw div{
        width: 410px !important;
    }
}


@media (min-width:900px) and (max-width:974px){
    #sw div{
        width: 400px !important;
    }
}

@media (min-width:750px) and (max-width:899px){
    #sw div{
        width: 390px !important;
    }
}

@media(min-width:601px) and (max-width:749px){
    #sw div{
        width: 370px !important;
    }
}

@media(max-width:600px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }

    .nav{
        height: 2rem;
    }

    .myItem{
        padding-top: 20px;
            margin: 0;
        
    }

    .bio-flex{
        flex-direction: column;
    }
    .bio-content{
        width: 100%;
    }
    .more{
       align-self: center;
    }
    
    .certificate {
        height: 400px;
    }

    #sw div{
        width: 340px !important;
    }
  
    .copy-right p{
        text-align: center;
    }
    .copy-right .network{
        padding: 10px;
    }
    .copy-right{
        flex-direction: column;
    }
    .nav .nav-brand{
    margin-left: 50px;
}
}


@media (min-height:700px) and (max-height:850px){
    .nav .nav-menu{
        padding-top: 10px;
    }
}

@media (min-height:851px) and (max-height:1000px){
    .nav .nav-menu{
        padding-top: 20px;
    }
}

@media (min-height:1001px) and (max-height:1200px){
    .nav .nav-menu{
        padding-top: 30px;
    }
}

@media (min-height:1201px){
    .nav .nav-menu{
        padding-top: 35px;
    }
}
