
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Open Sans"!important;
}


/* -----------Navbar------------ */



.myCollapse{
    height: 25rem!important;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav .nav-menu{
    justify-content: space-evenly;
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1rem 1rem;
    font-size: 1.5rem;
    position: relative;
}

.nav{
    background: rgba(255, 255, 255, 0.747);
    /* padding: 0 2rem; */
    height: 0rem;
    min-height: 9vh;
    overflow: hidden;
    transition:height 1s ease-in-out
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    
}

.nav .nav-brand{
    width: 90px;
    height: 60px;
background-image: url('../assets/LogoPolex.png');
background-position: center;
background-size: cover;
}



.nav .nav-items .nav-link a{
    transition-duration: 0.2s ;
}
.nav .nav-items .nav-link a:hover{
    font-size: 1.5rem;
}

.nav .toggle-collapse{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.2rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%; 
  }

.myItem{
    padding-top: 5px;
}

  

/* ------x-----Navbar--------x---- */

/* -----------Top Page---------- */

.top-page{
 /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-image: url('../assets/Homepage-naslovna3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 height: 700px;
}

.title{
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
    color: white;
}

.title h1{
    font-family: initial;
    font-size: 60px!important;
}

.title p{
    font-size: 20px;
}

/* ------x-----Top Page-----x----- */

/* -------------Biography---------- */

.bio-title{
    text-align: center;
}

.bio-title hr{
    margin: 16px 0 16px;
    border: 2px solid green;
}

.bio-flex{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-top: 40px;
}

.bio-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.bio-image{
    /* width: 2rem; */
    text-align: center;
    background: center;
    background-position: cover;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.bio-image #img{
    background:center;
    border-radius: 125px;
    height: 250px;
    width: 250px;
    border: 2px solid green;
    background-image: url('../assets/IMG_0716.jpg');
    background-position: 44% 22%;
    background-size: cover;
}

.more{
    display: flex;
    flex-direction: row;
}

.bio-content #moreIcon{
    background-image: url('../assets/procitaj.svg');
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
}

.bio-content #moreText{
    margin-top: 32px;
    padding-left: 20px;
    font-size: 20px;
    font-family: cursive;
}

.bio-content #moreText:hover{
    cursor: pointer;
    color: cornflowerblue;
}



/* -------x------Biography-----x----- */

/* ------------Pollex Packets------------ */

.pollex-packets{
    background-color: #004467;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button:hover{
   cursor: pointer; 
}

.card-wraper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.myCard{
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 4rem;
    color: white;
    text-align: center;
}

.myCard h2{
    white-space: nowrap;
}


/* ------x------Pollex Packets------x------ */

/* -----------Modal------------ */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll!important; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    align-self: center;
    animation-name: animatetop;
    animation-duration: 0.6s
  }

  /* Add Animation */

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
 
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Viewport mobile */

@media(max-width:600px){
.nav .nav-menu, .nav .nav-items{
    flex-direction: column;
}
.nav .toggle-collapse{
    display: initial;
}

.myItem{
    padding-top: 30px;
}

.bio-flex{
    flex-direction: column;
}
.bio-content{
    width: 100%;
}


}

